.container {
    background-color: #2368bb;
    /* background-color: rgba(182, 168, 168, 0.3); */
    border-radius: 20px;
    border: 3px solid #9fd3c7;
    width: 200px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    /* padding: 10px; */
}

.img {
    border-radius: 20px;
    display: flex;
    align-items: flex;
    position: 0;
    top: 0;
    width: 200px;
    height: 200px;
    border-bottom: 3px solid #72e2c8;
}

.detailBtn {
    background-color: #385170;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: Sniglet, cursive;
    color: #ececec;
}

.detailBtn:hover {
    box-shadow:
        0 15px 10px rgba(0, 0, 0, 0.9),
        0 -2px 10px rgba(0, 0, 0, 0.9);
}