
.sort_cont{
    display: flex;
    justify-content: center;
}
.select{
    background-color: #FFB400;
    border-radius: 25px;
    border:  solid 2px black;
    font-size: 15px;
    color: #161515;
    box-decoration-break: slice;
    margin-right: 1rem;
    font-family: Sniglet, cursive;
    cursor: pointer;
}