.navbar {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #00A6ED;
  }
  
  .navbar > div {
    flex: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }
  
  .navbar > div:first-child {
    justify-content: flex-start;
  }
  
  .navbar > div:last-child {
    justify-content: flex-end;
  }
 /*  .navbar button {
    float: right;
  }
   */
  .button_crear{
    background-color: #FFB400;
    border-radius: 25px;
    border: solid 2px black;
    font-size: 15px;
    color: #161515;
    box-decoration-break: slice;
    margin-right: 1rem;
    font-family: Sniglet, cursive;
    cursor: pointer;
  }